@import './App.css';


.artist-detail-container {
    width: 100vw;
    height: 100vh;

    padding-top: max(100px, 7%);
    padding-left: max(220px, 15%);
    padding-right: 10%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;

    .back-button {
        position: fixed;
        top: 50%;
        left: 0px;
        transform: translateY(-50%) rotate(-90deg);
        font-family: Spotify Mix, Avenir, Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 800;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        transition: all 0.3s ease;

        &::after {
            content: 'BACK';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            color: var(--color-green);
            transition: all 0.3s ease;
        }

        &:hover {
            color: rgba(255, 255, 255, 1);

            &::after {
                top: 5px;
                z-index: -1;
                opacity: 1;
            }
        }

        &:active {
            transition: all 0.2s ease;
            scale: 0.98;
        }


    }

    .artist-detail-left {

        min-width: 500px;
        width: 500px;
        color: white;
        display: block;

        .artist-detail-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            h2 {
                font-size: 40px;
                font-weight: 800;
                margin: 0;
            }

            h4 {
                font-size: 15px;
                font-weight: 200;
            }
        }

        h3 {
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 500;
            padding-left: 10px;
        }

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
            border-radius: 12px;
        }

        span {
            color: white;
            opacity: 0.6;
            font-weight: 200;
            font-size: 12px;
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .artist-detail-right {
        flex-grow: 1;
        height: 100%;
        overflow: hidden;

        .artist-album-container {
            max-width: 100%;
            display: flex;
            gap: 20px;
            overflow-x: scroll;
            height: fit-content;

            // cacher scrollbar
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }


            //degradé pour indiquer qu'on peut scroller
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 230px;
                pointer-events: none;
                z-index: 10;
            }

            &::after {
                right: 10%;
                background: linear-gradient(90deg, rgba(36, 36, 36, 0) 0%, rgb(36, 36, 36) 100%);
            }

            &::before {
                right: auto;
                background: linear-gradient(-90deg, rgba(36, 36, 36, 0) 0%, rgb(36, 36, 36) 100%);
                opacity: 0;
                transform: translateX(-30px);
                transition: all 0.3s ease;
            }

            &.is-scrolled::before {
                transition: all 0.3s ease;
                transform: translateX(0px);
                opacity: 1;
            }



            .artist-album-item {

                img {
                    width: 200px;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                }

                span {
                    color: white;
                    opacity: 0.5;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }



        .artist-detail-right-scroll-section {
            height: calc(100vh - max(100px, 7%) - 100px - 40px);
            margin-top: 15px;
            overflow-y: scroll;

            // cacher scrollbar
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &::after {
                // Ajouter un dégradé en bas pour indiquer qu'on peut scroller
                content: "";
                position: fixed;
                bottom: 10px;
                width: 50%;
                height: 30px;
                pointer-events: none;
                background-color: red;
                background: linear-gradient(0deg, rgb(36, 36, 36), rgba(36, 36, 36, 0));
            }

            h3 {
                color: white;
                margin: 15px 0px 15px 0px;
                font-size: 25px;
                font-weight: 800;

                &:nth-of-type(1) {
                    color: var(--color-green);
                }
            }

            p {
                color: rgba(255, 255, 255, 0.7);
                font-weight: 100;
                line-height: 160%;
                text-align: justify;
            }

        }
    }
}
