@import './App.css';


.circular-scroll-wheel {
    height: 100vh;

    .container {
        position: absolute;
        width: 300vw;
        height: 300vw;
        left: -100vw;
        will-change: transform;

        .inner-media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            /* To position the child image */
            justify-content: center;
            /* The child image will be centered horizontally */
            pointer-events: none;

            .media {
                width: 20vw;
                height: 26vw;
                margin: 50vh 0 0;
                object-fit: contain;
                object-position: 50% 100%;
                /* Aligning the media to its bottom */
                will-change: transform;

                pointer-events: auto; 
                cursor: pointer;

            }
        }


    }
}

